[% PROCESS site/macros %]

<h2>[% l('Usuário bloqueado') %]</h2>

<p>[% l('A conta e os redirecionamentos do usuário <strong>[_1]</strong> estão bloqueados pelo motivo abaixo:', usuario.login) %]</p>

<p><i>[% usuario.motivo_bloqueio %]</i></p>

<p>[% l('Se você é o dono dessa conta e deseja maiores esclarecimentos,') %] <a href="/contato.shtml">[% l('entre em contato conosco') %]</a>.</p>
