[% PROCESS site/macros %]

<h2>[% l('New RG3.Net user registered') %]</h2>

<p>[% l('Done! The account <strong>[_1]</strong> has been created. A temporary password has been sent to <strong>[_2]</strong>. Check your inbox to see your password and log into your new account.', [usuario.login, usuario.email]) %]</p>

<p><strong>[% l('Log into your new account as soon as you get your temporary password. The accounts that are not logged in on their first week are automatically deleted.') %]</strong></p>

<p><a href="[% Catalyst.uri_for('/login') %]"><img src="/redirapp/static/images/application_home.png" align="top"> [% l('Go to the home page') %]</a></p>
