* {
	text-decoration: none;
}

body {
/*	width: 750px; */
	margin: 0px;
	padding: 0px; 
}

html {
	font-size: 10pt;
	font-family: tahoma, verdana, sans-serif;
}

a {
	text-decoration: none;
	color: #004400;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

tr.lista:hover {
	background-color: #aaffaa;
}

td {
	font-size: 10pt;
}

th {
	font-size: 10pt;
	background-color: #dddddd;
}

h1 {
	color: #009900;
	font-size: 18pt;
}

h2 {
	color: #009900;
	font-size: 16pt;
}

h3 {
	color: #007700;
	font-size: 12pt;
}

h4 {
	color: #003300;
	font-size: 8pt;
}

input {
	font-family: tahoma, verdana, sans-serif;
	font-size: 10pt;
}

img {
	border: none;
}

/*
#header {
	font-family: tahoma, verdana, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	background-color: #009900;
	color: white;
}
*/

#footer {
	background-color: #ffffff;
	text-align: right;
	color: black;
	font-family: tahoma, verdana, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0px;
}

#content {
	width: 70%;
	padding: 10px;
	position: relative;
	left: 15%;
	right: 15%;
}

.mytextbox {
	background-color: #ffffff;
	color: black;
	border-style: solid;
	border-color: #003300;
	border-width: 1px;
	padding: 10px;
}

.mytextbox_green {
	background-color: #ddffdd;
	color: black;
	border-style: solid;
	border-color: #003300;
	border-width: 1px;
	padding: 10px;
}

.errorbox {
	color: #aa0000;
	font-weight: bold;
}

.missing {
	background-color: #ff9999;
}

.message {
	color: #00aa00;
}

.error {
	color: #aa0000;
}

.menu {
	padding: 0px;
	font-size: 9pt;
	font-family: tahoma, verdana, sans-serif;
	background-color: #007700;
	color: black;
	border-width: 1px;
	border-color: #001100;
	border-style: solid;
}

.menu a {
	padding: 0px;
	color: white;
}

.menu a:hover {
	text-decoration: none;
	background-color: #009900;
}

/* Menu superior */
.topbanner {
	height: 94px;
	text-align: center;
	vertical-align: super;
	background-image: url("/redirapp/static/images/bg_top_ad.png");
	background-repeat: repeat-y;
	background-position: right;
}

.topmenu {
	height: 30px;
	background-image: url("/redirapp/static/images/bg_top_menu.png");
	background-repeat: repeat-x;
	color: white;
	font-weight: bold;
	font-family: tahoma, verdana, sans-serif;
	font-size: 12px;
	padding: 5px;
}

.topmenu a {
	color: #ffffff;
}


@media print {
	a {
		display: none;
	}
	
	td {
		font-size: 8pt;
	}
	
	h1.p_cadastro {
		color: #000000;
		font-size: 18pt;
	}

	h2.p_cadastro {
		color: #000000;
		font-size: 16pt;
	}
	
	td.p_cadastro {
		font-size: 12pt;
	}

	.mypage {
		page-break-after: always;
	}
	
	.dontprint {
		display: none;
	}
	
	.menu {
		display: none;
	}
}
